@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Dark: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --grayish-violet: hsl(257, 7%, 63%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

h1,
h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  text-align: center;
  line-height: 1;
}
p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
}
.text-over-image {
  margin-top: -100px;
  position: relative;
  text-align: center;
}

.humanizing {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 20px;
  padding: 0px 30px;
  padding-bottom: 80px;
  margin-top: -4px;
  flex-direction: column;
  background-color: var(--Dark);
  color: var(--Very-Light-Gray);
}
.humanizing h1 {
  font-size: 45px;
}

.humanizing img {
  align-self: flex-start;
  margin-left: -30px;
  /* margin-top: -85px; */
  /* z-index: 1; */
}
.button-white {
  background-color: transparent;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--Very-Light-Gray);
  border: 1px solid var(--Very-Light-Gray);
  width: fit-content;
  padding: 10px 30px;
  margin-top: 25px;
}
.image-intro-right-mobile {
  position: absolute;
  right: 0;
  margin-top: -153px;
}
